{% extends 'clients/base.html' %}
{% block title %}Notifications{% endblock %}
{% block content %}
    <h2 class="mb-4">Unread Notifications</h2>

    {% if notifications %}
        {% for notification in notifications %}
        <div class="notification-card {% if notification.notification_priority == 'Urgent' %}urgent{% endif %}">
            <p><strong>{{ notification.client.name }}</strong></p>
                <p><strong>Type:</strong> {{ notification.notification_type|title }} | 
                   <strong>Priority:</strong> {{ notification.notification_priority|title }} |
                   <strong>Created at: </strong><em>{{ notification.created_at|date:"d M Y H:i" }}</em></p>
                <p>{{ notification.message }}</p>
                <form method="post" action="{% url 'mark_as_read' notification.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-purple">Mark as Read</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">No unread notifications!</div>
    {% endif %}

    <a href="{% url 'read_notifications' %}" class="btn btn-sm btn-light">View Read Notifications</a>
{% endblock %}